doctype html
head
  title login
  //-link(href='/stylesheets/logn.css' rel='stylesheet')
  link(href='/css/bootstrap.css' rel='stylesheet')
form(class="form-horizontal" action='' method='')
  .imgcontainer
  .log
    div(class="form-group")
        label(class="col-sm-2 control-label" for='username') Email
        input(class="form-control round-input" id="username" name='username' type='text' placeholder='Enter email')
    div(class="form-group")
        label(class="" for='password') Password
        input(class="form-control round-input" id="password" name='password' type='password' placeholder='Enter password')
    div(class="form-group")
        input(class="btn btn-outline-success" type='submit' value="Login")
    div(class="form-group")
        input(name='remember' type='checkbox' style='margin-bottom: 15px;')
        label() Remember me
    div(class="form-group")
        p Don&apos;t have an account?
            a(href='/signup') Sign Up Here
    div(class="form-group")
      span.psw
        Forgot
        a(href='#') Forgot password?
